<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		
		<link rel='stylesheet' type="text/css"><link rel="stylesheet" href="/css/estilos.css" >"
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<ul>
		  <li><a href="/mazos">mazos</a></li>
		  <li><a href="/visualizador">buscador</a></li>
		  <li><a href="mazos_publicos">Mazos publicos</a></li>
		  <li style="float:right"><a class="active" href="/logout">logout</a></li>
		</ul>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
  const form = document.getElementById("agregarCarta");

  form.addEventListener("submit", (event) => {
    event.preventDefault();
    const codigoCarta = document.getElementById("codigo-carta").value;
    const cantidad = document.getElementById("cantidad").value;
    agregarCarta(codigoCarta, cantidad);
  });
});
    </script>
	  </head>
    <body>
 
    
      <!-- Filtro de búsqueda -->
      <form>
        <h1>Visualizador de cartas</h1>
        <label for="filtro">Filtro:</label>
        <input type="text" id="filtro" name="filtro">
        <button type="submit">Buscar</button>
      </form>
    
      <!-- Visualizador de cartas -->
      <div id="visualizador">
        <!-- Aquí se cargará el listado de cartas -->
      </div>
    
      <!-- Listado de cartas en el mazo -->

    
    
      <!-- Formulario para agregar cartas al mazo -->
      <form id="agregarCarta" name="agregarCarta">
        <h2>Agregar carta al mazo</h2>
        <label for="codigo-carta">Código de la carta:</label>
        <input type="text" id="codigo-carta" name="codigo-carta" required>
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" value="1" min="1" max="3" required>
        <button type="submit">Agregar</button>
      </form>
    
      <!-- Formulario para eliminar cartas del mazo -->
      <form id="eliminar-carta-form">
        <h2>Eliminar carta del mazo</h2>
        <label for="codigo-carta-eliminar">Código de la carta:</label>
        <input type="text" id="codigo-carta-eliminar" name="codigo-carta-eliminar" required>
        <button type="submit">Eliminar</button>
      </form>

      <table id="cartas-mazo">
        <h2>Listado de cartas en el mazo</h2>
        <thead>
          <tr>
            <th>Nombre de la carta</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí se cargarán las cartas del mazo -->
        </tbody>
      </table>
    
    </body>
</html>