<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Constructor de Mazos</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <ul>
      <li><a href="/home">Inicio</a></li>
      <li><a href="/mazos">Mazos</a></li>
      <li><a href="/visualizador">Buscador</a></li>
      <li><a href="#contact">info</a></li>
      <li style="float:right"><a class="active" href="/logout">logout</a></li>
    </ul>
  </head>
  <body>
    
      </body>
    </html>