<%- include('./components/headerLogged') %>




<form id="crearPublicacionForm" action="/foro/crear-publicacion" method="POST">
    <div class="container">
      <h1>Crear nueva publicación</h1>
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo" placeholder="Ingresa el título" required>
      <label for="contenido">Contenido:</label>
      <textarea id="contenido" name="contenido" placeholder="Escribe el contenido" required></textarea>

        <label for="carta">Buscar carta:</label>
        <input type="text" id="carta" name="carta" placeholder="Nombre de la carta">
        <button type="button" onclick="buscarCarta()">Buscar</button>
      
        <label for="selectCarta">Seleccionar carta:</label>
        <select id="selectCarta" name="id_carta">
      
        </select>
      </form>
      <button type="submit">Crear publicación</button>
    </div>
  </form>