<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <link rel='stylesheet' type="text/css"><link rel="stylesheet" href="/css/estilos.css" >"
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <ul>
      <li><a href="/home">Inicio</a></li>
      <li><a href="/mazos">Mazos</a></li>
      <li><a href="/visualizador">Buscador</a></li>
      <li><a href="/mazos_publicos">Mazos publicos</a></li>
      <li style="float:right"><a class="active" href="/logout">logout</a></li>
    </ul>
  </head>
  <body>

    <div class="container">
      <form action="/creador_productos" method="POST">
        <h1>Producto</h1>
        <div>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
        <div>
          <label for="precio">precio:</label>
          <input type="text" id="precio" name="precio" required>
        </div>
        <div>
            <label for="descripcion">Tipo:</label>
            <input type="text" id="descripcion" name="descripcion" required>
          </div>
        <button type="submit">Crear Producto</button>        
      </form>
    </div>
  </body>
</html>