<%- include('./components/headerTienda') %>

      <script>
        function cerrarMensajeExito() {
          var mensajeExito = document.getElementById('mensaje-exito');
          mensajeExito.style.display = 'none';
        }
      </script>
  <body>
    <% if (mensajeExito) { %>
			<div id="mensaje-exito" class="mensaje mensaje_exito">
				<span class="cerrar" onclick="cerrarMensajeExito()"> &nbsp; x</span>
				<%= mensajeExito %>
			</div>
			<% } %>
    


  </body>
</html>