<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <link rel='stylesheet' type="text/css"><link rel="stylesheet" href="/css/style.css" >"
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <ul>
      <li><a href="/home">Inicio</a></li>
      <li><a href="/mazos">Mazos</a></li>
      <li><a href="/visualizador">Buscador</a></li>
      <li><a href="#contact">info</a></li>
      <li style="float:right"><a class="active" href="/logout">Salir</a></li>
    </ul>
  </head>
  <body>
    



  </body>
</html>