<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <script type="module" ></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type="text/css"><link rel="stylesheet" href="/css/style.css" >
  <meta http-equiv="X-UA-Compatible" content="ie=edege">

  <title>Document</title>     
</head>
<body>
    
    <ul>
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul>
 

    <ul>
      <% if (messages.error) { %>
      <li><%= messages.error %></li>
      <% } %>
    </ul>

    <img src="/public/img/logo.png" width="300" alt="">


    <form action="/login" method="POST">

      <section class="form-login">
       
        <div class="email">  
        <input class="controls" id="email" type="email" name="email"  placeholder="email" required>
      </div>
      <div class="password">
        <input class="controls" id="contrasena" type="password" name="password"  placeholder="Contraseña" required>
      </div>
        <input class="buttons" type="submit"  value="login">
        <a href="#">¿Olvidaste tu Contraseña?</a> <br>  <a href="/registro">Registrarse</a>
      </section>
    
    </form>

  
</body>
</html>
