<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <script type="module" ></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type="text/css"><link rel="stylesheet" href="css/style.css" >
  <link rel="stylesheet" type="text/css" href="/css/estilos.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edege">

  <title>Document</title>     
</head>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <nav>
  <ul>
    <li><a href="/home">Inicio</a></li>
    <li><a href="/mazos">Mazos</a></li>
    <li><a href="/visualizador">Buscador</a></li>
    <li><a href="/mazos_publicos">Mazos publicos</a></li>
      <li><a href="/guiaProductos">Guia productos</a></li>
    <li style="float:right"><a class="active" href="/login">Iniciar sesion</a></li>
  </ul>
</nav>
  </head>
<body>
    
  <% if (mensajeError) { %>
    <div id="mensaje-error" class="mensaje mensaje_error">
      <span class="cerrar" onclick="cerrarMensajeError()"> &nbsp; x</span>
      <%= mensajeError %>
    </div>
    <% } %>

    <img src="/public/img/logo.png" width="300" alt="">
    
    <form action="/loginTienda" method="POST">
      <input type="hidden" name="userType" value="tienda">
      <section class="form-login">
        <div class="titulo"> Inicia Sesión</div>
        <div class="email">
          <input class="controls" id="email" type="email" name="email" placeholder="Correo" required>
        </div>
        <div class="password">
          <input class="controls" id="contrasena" type="password" name="password" placeholder="Contraseña" required>
        </div>
        <input class="buttons" type="submit" value="Ingresar">
        <a href="#"> ¿Olvidaste tu Contraseña?</a>
        <span class="separator"></span>
        <a href="/registro">Registrarse</a>
      </section>
    </form>
     
 
</body>
<script>
  function cerrarMensajeError() {
    var mensajeError = document.getElementById('mensaje-error');
    mensajeError.style.display = 'none';
  }
</script>
</html>
