<%- include('./components/headerUnlogged') %>   
<body>
  <script>
    function cerrarMensajeError() {
      var mensajeError = document.getElementById('mensaje-error');
      mensajeError.style.opacity = '0'; // Establecer la opacidad a 0
      mensajeError.style.transform = 'translateX(100%)'; // Deslizar hacia la derecha
      setTimeout(function() {
        mensajeError.style.display = 'none'; // Ocultar el mensaje después de la transición
      }, 500); // Esperar 500 milisegundos antes de ocultar el mensaje
    }
  
    // Ocultar el mensaje de error después de 6 segundos
    setTimeout(cerrarMensajeError, 6000);
  </script>
  <% if (typeof mensajeError !== 'undefined' && mensajeError && mensajeError.length > 0) { %>
    <div id="mensaje-error" class="mensaje mensaje_error">
      <span class="cerrar" onclick="cerrarMensajeError()"> &nbsp; x</span>
      <%= mensajeError %>
    </div>
    <% } %>

    <img src="/public/img/logo.png" width="300" alt="">

    <form action="/loginJugador" method="POST">
      <section class="form-login">
        <div class="titulo"> Inicia Sesión</div>
        <div class="email">
          <input class="controls" id="email" type="email" name="email" placeholder="Correo" required>
        </div>
        <div class="password">
          <input class="controls" id="contrasena" type="password" name="password" placeholder="Contraseña" required>
        </div>
        <input class="buttons" type="submit" value="Ingresar">
        <a style="padding-left: 00px;" href="#"> ¿Olvidaste tu Contraseña?</a> 
        
        <span class="separator"></span>
        <a href="/registro">Registrarse</a>
        <a href="/registroTienda">Registrarse como tienda</a>
        <a href="/loginTienda">Iniciar sesion como tienda</a>
      </section>
    </form>
  
</body>
</html>
