<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <head>
      <meta charset="UTF-8" />
      
      <link rel='stylesheet' type="text/css"><link rel="stylesheet" href="/css/estilos.css" >"
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <ul>
        <li><a href="/mazos">mazos</a></li>
        <li><a href="/visualizador">buscador</a></li>
        <li><a href="/mazos_publicos">Mazos publicos</a></li>
            <li><a href="/guiaProductos">Guia productos</a></li>
        <li style="float:right"><a class="active" href="/logout">logout</a></li>
      </ul>
      </head>
  <body>

    <div class="container">
      <form action="/mazos" method="POST">
        <h1>Crear nuevo mazo</h1>
        <div>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
        <div>
          <label for="tipo_mazo">Tipo:</label>
          <select id="tipo_mazo" name="tipo_mazo" required>
            <option value="1">Mazo Privado</option>
            <option value="2">Mazo Publico</option>
          </select>
        </div>
        <button type="submit">Crear mazo</button>
        <a href="/lista_mazos">mazos Creados</a>
      </form>
    </div>
  </body>
</html>