<%- include('./components/headerTienda') %>

<body>
  <div class="container">
   
<form>

  <ol id="lista3">
  <% if (producto.length > 0) { %>
    <ul>
      <% producto.forEach(producto => { %>
        <li>
          <a href="/detalles_producto_tienda/<%= producto.id_producto %>"><%= producto.nombre %></a>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No hay productos disponibles en la tienda.</p>
  <% } %>
</ol>
</form>
  </div>
</body>
</html>