<%- include('./components/headerUnlogged') %>   
<body >
    

    <ul>
        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
            <li><%= error.message %></li>
            <% }) %> <% } %>
           

    </ul>
    <form action="/registroTienda" method="POST">
    <section class="form-login"> 
        <h1>Registrarse</h1>  
        <a></a> 
    <div>
        <input class="controls" type="text"  id="name" name="nombre"   placeholder="Nombre"  required  >


    </div>
    <div>
        <input class="controls" type="email"  id="email" name="email"   placeholder="Email"  required>


    </div>
    <div>
        <input class="controls" type="password"  id="contrasena" name="contrasena"   placeholder="Contraseña"  required>


    </div>
    <div>
        <input class="controls" type="password"  id="contrasena2" name="contrasena2"   placeholder="Confirme  contraseña"  required>


    </div>
    <div>
        <input class="controls" type="text"  id="direccion" name="direccion"   placeholder="direccion"  required>


    </div>
    <div>
        <input class="controls" type="text"  id="pagina_web" name="pagina_web"   placeholder="pagina web"  required>


    </div>
    
    <div>
        <input class="buttons" type="submit"    value="Registrarse">   
    </div>
    <div>  
    <a href="/login">¿Ya estas registrado? Inicia sesion</a>
    </div>   
    </section>
    </form>

  
</body>
</html>
