<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <script type="module" ></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type="text/css"><link rel="stylesheet" href="/css/style.css" >
  <meta http-equiv="X-UA-Compatible" content="ie=edege">

  <title>Document</title>     
</head>
<body >
    

    <ul>
        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
            <li><%= error.message %></li>
            <% }) %> <% } %>
           

    </ul>
    <form action="/registro" method="POST">
    <section class="form-login"> 
        <h1>Registrarse</h1>   
    <div>
        <input class="controls" type="text"  id="name" name="nombre"   placeholder="Nombre"  required  >


    </div>
    <div>
        <input class="controls" type="email"  id="email" name="email"   placeholder="Email"  required>


    </div>
    <div>
        <input class="controls" type="password"  id="contrasena" name="contrasena"   placeholder="Contraseña"  required>


    </div>
    <div>
        <input class="controls" type="password"  id="contrasena2" name="contrasena2"   placeholder="Confirme  contraseña"  required>


    </div>
    <div>
        <input class="buttons" type="submit"    value="Registrarse">
    </div>   
    <a href="/login">Ya estas registrado? inicia sesion aqui</a>
    </section>
    </form>

  
</body>
</html>
