body {
  font-family: Montserrat, sans-serif;
  background-image: url('/img/fondo.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  margin: 0;
  padding: 0;

}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

select {
  background-color: #f8f8f8;
  color: rgba(0, 0, 0, 0.3)
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
/* 
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
} */

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* ul#listaHeader {
   

    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    } */

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: none;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.btn{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
.btn:hover {
  background-color: #45a049;
} 

table {
  border-collapse: collapse;
  margin: 20px;
  width: 80%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #222222;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#lista3 {
  counter-reset: li;
  list-style: none;
  /* *list-style: decimal; */
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

#lista3 ol {
  margin: 0 0 0 2em;
}

#lista3 li {
  position: relative;
  display: inline-block;
  padding: .4em .4em .4em .8em;
  /* *padding: .4em; */
  margin: .5em 0 .5em 2.5em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
}

#lista3 li:hover {
  background: #eee;
}

#lista3 li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #fa8072;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

#lista3 li:after {
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

#lista3 li:hover:after {
  left: -.5em;
  border-left-color: #fa8072;
}

.container2 {
  max-width: 800px;
  margin: 0 auto;

}


h1 {
  text-align: center;
  margin-top: 50px;
}

#lista2 {
  list-style: none;
  margin-top: 50px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#lista2 li {
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
}

#lista2 li a {
  text-decoration: none;
  color: black;
}

#lista2 li button {
  margin-top: 10px;
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#lista2 li button:hover {
  background-color: #cc0000;
}


.mensaje {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 4px;
  z-index: 9999;
}

.mensaje_error {
  transition: opacity 0.5s, transform 0.5s; /* Transición de 0.5 segundos para opacity y transform */
  background-color: #d26969;
  color: #e6e6e6;
  border: 1px solid #cd4c62;
}

.mensaje_exito {
  transition: opacity 0.5s, transform 0.5s; 
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}


.cerrar {
  cursor: pointer;
  float: right;
  font-weight: bold;
  line-height: 1;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 48%;
  margin: 1%;
  padding: 20px;
  box-sizing: border-box;
}

.crear_mazo {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 42%;
  height: 700px;
  background: rgb(230, 230, 230);

  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  /* border: 4px solid #017bab; */
  color: black;
  border-radius: 30px;
}

.nombre_mazo {
  width: 98%;
  color: white;
  border: 1px solid #017bab;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #252323;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}

#tipo_mazo {
  width: 100%;
  border: 1px solid #017bab;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #252323;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
}

#crear_mazo {
  width: 49%;
  height: 40px;
  background: #017bab;
  border: none;
  color: rgb(0, 0, 0);
  margin-bottom: 16px;
  font-weight: bold;
  border-radius: 15px;
}

#crear_mazo:hover {
  /* Estilos cuando el cursor se sitúa sobre el botón */
  background-color: #ffffff;
}

.crear_mazo a {
  width: 50%;
  height: 40px;
  background: #017bab;
  border: none;
  color: rgb(0, 0, 0);
  margin-bottom: 16px;
  font-weight: bold;
  border-radius: 15px;

}

.buscador {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 42%;
  height: 800px;
  background: rgb(230, 230, 230);
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  /* border: 4px solid #017bab; */
  color: black;
  border-radius: 30px;
}
@media screen and (max-width: 800px) {
  /* Estilos adicionales para pantallas más pequeñas */
  .buscador {
    justify-content: center; /* Centra las cartas en pantallas más pequeñas */
  }
}


.mazo_publico {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 42%;
  height: 700px;
  background: rgb(230, 230, 230);

  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border: 4px solid #017bab;
  color: black;
  border-radius: 30px;
}

#busqueda {
  width: 100%;
  border: 1px solid #99e2ff;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}

.lista_mazos {
  position: absolute;
  top: 250px;
  /* Ajusta la distancia desde el borde superior */
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  height: calc(100vh);
  /* Calcula la altura en función de la ventana del navegador y la distancia superior */
  background: rgb(230, 230, 230);
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  /* border: 4px solid #017bab; */
  color: black;
  border-radius: 30px;
}

.container {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  margin: auto;
  width: 1500px;
  height: calc(100vh-200px);
  /* Calcula la altura en función de la ventana del navegador y la distancia superior */
  background: rgb(230, 230, 230);
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  /* border: 4px solid #017bab; */
  color: black;
  border-radius: 30px;
  overflow: auto;
}

input[type="number"] {
  /* Estilos personalizados */
  width: 10%;
  height: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background: #252323;
  color: white;
}

input[type="number"]:focus {
  /* Estilos al enfocar */
  border-color: #007bff;
  outline: none;
}

.card-list {
  display: flex;
  flex-wrap: wrap; /* Permite que las cartas se envuelvan en nuevas filas */
  justify-content: flex-start; /* Alinea las cartas hacia el inicio del contenedor */
  background-color: lightblue;
  border-radius: 15px;
  border: 4px solid black;
}

.carta-imagen {
  width: 150px;
  /* Ajusta el ancho de la imagen según sea necesario */
  height: auto;
  /* Altura automática para mantener la proporción */
  margin: 10px;
  /* Agrega un margen derecho para separar las imágenes */
}

.card-list button {
  border-radius: 15px;
  background-color: rgb(95, 65, 8);
  color: rgb(252, 252, 252);
  font-weight: bold;
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
  /* Estilos adicionales para pantallas más pequeñas */
  .card-list {
    justify-content: center; /* Centra las cartas en pantallas más pequeñas */
  }
}

.buscadorm {
  height: fit-content;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 42%;
  height: 800px;
  background: rgb(230, 230, 230);
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  /* border: 4px solid #017bab; */
  color: black;
  border-radius: 30px;
}


.logo img {
  width: 160px;
  /* Ajusta el ancho según tus necesidades */
  height: auto;
  /* El alto se ajustará automáticamente en proporción */
}

/* .logo {
	position: absolute;
	left: 100px;
	z-index: 999; 
  } */
.carta-ficha {
  display: flex;
}

.carta-imagen-ficha {
  width: 400px;
  margin-right: 20px;
}

.carta-datos {
  flex: 1;
}
.publicacion-foro{
  flex:1;
}
.cantidad-cartas {
  height: 24px;
  margin: 50px;
  margin-right: 0px;
  font-size: small;
  border-radius: 15px;
  font-weight: bold;
}
.razones {
  padding: 3rem 0;
  text-align: center;
}

.tarjeta {
  border-radius: 1rem;
  box-shadow:   rgba(0, 0, 0, 0.568) 0 0 2rem;
  grid-column-end: span 4;
  padding: 2rem;
}


.ficha-publicacion{
  display: flex;
}
.grilla {
  grid-gap: 2rem;
  padding: 2rem;
}

.carta-foro {
  width: 300px;
  margin-right: 20px;

}
p {
  font-size: 1.25rem;
  line-height: 150%;
}
.producto-imagen{
  width: 300px;
  height: auto;
}


.form-login {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 25%;
	height: 500px;
	background: rgb(230, 230, 230);

	box-shadow: 7px 13px 37px #000;
	padding: 20px 30px;
	border-top: 4px solid #017bab;
	color: white;
	border-radius: 30px;

}

.form-login h5 {
	margin: 0;
	text-align: center;
	height: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid;
	font-size: 20px;
}
.form-login p {
	height: 40px;
	text-align: center;
	border-bottom: 1px solid;
}

.form-login a {
	color: black;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	display: inline-block;
	z-index: 10;
	width: 20%;
	padding: 1em 0;
	text-align: center;
	cursor: pointer;

}

.form-login a:hover {
	text-decoration: underline;
}
.titulo {
	font-weight: bold;
	text-align: center;
	padding: 10px;
	padding-bottom: 30px;
	color: black;
	font-size: x-large;


}
.separator {
	margin: 10px 100px;
	/* Ajusta el margen horizontal para la separación */
	display: inline-block;
	height: 10px;
	/* Altura del separador */
	background-color: #000;
	/* Color del separador */
}
.controls {
	width: 96%;
	border: 1px solid #017bab;
	margin-bottom: 15px;
	padding: 11px 10px;
	background: #ffffff;
	font-size: 14px;
	font-weight: bold;
	border-radius: 10px;
}

.buttons {
	width: 100%;
	height: 40px;
	background: #017bab;
	border: none;
	color: rgb(0, 0, 0);
	margin-bottom: 16px;
	font-weight: bold;
	border-radius: 15px;
}


.form-register {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 25%;
	height: 600px;
	background: rgb(230, 230, 230);

	box-shadow: 7px 13px 37px #000;
	padding: 20px 30px;
	border-top: 4px solid #017bab;
	color: white;
	border-radius: 30px;

}

.form-register h5 {
	margin: 0;
	text-align: center;
	height: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid;
	font-size: 20px;
}
.form-register p {
	height: 40px;
	text-align: center;
	border-bottom: 1px solid;
}

.form-register a {
	color: black;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	display: inline-block;
	z-index: 10;
	width: 20%;
	padding: 1em 0;
	text-align: center;
	cursor: pointer;

}

.form-register a:hover {
	text-decoration: underline;
}
#contenido {
  width: 100%; /* Ocupar el ancho completo del contenedor */
  height: 100px; /* Establecer una altura deseada */
  padding: 10px; /* Agregar un espacio interno */
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid lightblue; /* Borde del textarea */
  border-radius: 10px; /* Borde redondeado */
  resize: vertical; /* Permitir redimensionamiento vertical */
}

#contenido:focus {
  outline: none; /* Remover el resaltado al obtener el foco */
  border-color: blue; /* Cambiar el color del borde al obtener el foco */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3); /* Agregar una sombra al obtener el foco */
}

/* Estilos adicionales según tus preferencias */
#titulo-publicacion {
  width: 100%; /* Ocupar el ancho completo del contenedor */
  padding: 10px; /* Agregar un espacio interno */
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #ccc; /* Borde del input */
  border-radius: 5px; /* Borde redondeado */
}

#titulo-publicacion:focus {
  outline: none; /* Remover el resaltado al obtener el foco */
  border-color: blue; /* Cambiar el color del borde al obtener el foco */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3); /* Agregar una sombra al obtener el foco */
}

/* Estilos adicionales según tus preferencias */
#carta-foro {
  width: 100%; /* Ocupar el ancho completo del contenedor */
  padding: 10px; /* Agregar un espacio interno */
  font-size: 16px; /* Tamaño de fuente */
  background-color: white; /* Fondo blanco */
  color: black; /* Color de texto negro */
  border: 1px solid #ccc; /* Borde del select */
  border-radius: 5px; /* Borde redondeado */
}

/* Estilos para las opciones */
#carta-foro option {
  background-color: white; /* Fondo blanco */
  color: black; /* Color de texto negro */
}

/* Estilos adicionales según tus preferencias */
#link-tienda {
  width: 15%;
  height: 40px;
  background: #017bab;
  border: none;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  font-weight: bold;
  border-radius: 10px;
}
#link-tienda:hover {
  /* Estilos cuando el cursor se sitúa sobre el botón */
  background-color: #6ec7eb;
}
#buscar {
  width: 7%;
  height: 40px;
  background: #017bab;
  border: none;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  font-weight: bold;
  border-radius: 10px;
}
#buscar:hover {
  /* Estilos cuando el cursor se sitúa sobre el botón */
  background-color: #6ec7eb;
}
.botones-container {
  background-color: #0512548e;
  height: 52px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Espacio entre los botones */
}
.home {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  margin: auto;
  width: 1000px;
  height: calc(100vh-200px);
  /* Calcula la altura en función de la ventana del navegador y la distancia superior */
  background: rgb(230, 230, 230);
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  /* border: 4px solid #017bab; */
  color: black;
  border-radius: 30px;
  overflow: auto;
}
.tarjeta-home {
  border-radius: 1rem;
  box-shadow:   rgba(0, 0, 0, 0.568) 0 0 2rem;
  grid-column-end: span 4;
  padding: 2rem;
  background-color: white;
  width: 80%;
  margin-top:20px;
  margin-left:200px;
   }
.grilla-home {
  grid-gap: 2rem;
  padding: 2rem;
}
.carta-home {
  width: 200px;
  margin-right: 20px;

}