* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: arial;
	background-image: url('/public/img/okOyMxX.jpeg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  }
  
  .form-login {
	width: 400px;
	height: 340px;
	background: #4e4d4d;
	margin: left;
	margin-top: 180px;
	box-shadow: 7px 13px 37px #000;
	padding: 20px 30px;
	border-top: 4px solid #017bab;
	color: white;
  }
  
  .form-login h5 {
	margin: 0;
	text-align: center;
	height: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid;
	font-size: 20px;
  }
  
  .controls {
	width: 100%;
	border: 1px solid #017bab;
	margin-bottom: 15px;
	padding: 11px 10px;
	background: #252323;
	font-size: 14px;
	font-weight: bold;
  }
  
  .buttons {
	width: 100%;
	height: 40px;
	background: #017bab;
	border: none;
	color: white;
	margin-bottom: 16px;
  }
  
  .form-login p{
	height: 40px;
	text-align: center;
	border-bottom: 1px solid;
  }
  
  .form-login a {
	color: white;
	text-decoration: none;
	font-size: 14px;
  }
  
  .form-login a:hover {
	text-decoration: underline;
  }
  
a {
	display: inline-block;
	z-index: 10;
	width: 20%;
	padding: 1em 0;
	text-align: center;
	cursor: pointer;
}


:root {
	--underline-height: .5em;
	--transition-duration : .5s;
}


nav {
	position: relative;
	white-space: nowrap;
	background: white;
	padding: var(--underline-height) 0;
	margin: 2em 0;
	box-shadow: 0 1em 2em rgba(black, .05);
}

.underline {
	display: block;
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	height: var(--underline-height);
	width: 20%;
	background: black;
	pointer-events: none;
	mix-blend-mode: multiply;
	transition: transform var(--transition-duration) ease-in-out;
	

}

a {
	display: inline-block;
	z-index: 10;
	width: 20%;
	padding: 1em 0;
	text-align: center;
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
 
  :root {
	--rad: .7rem;
	--dur: .3s;
	--color-dark: #2f2f2f;
	--color-light: #fff;
	--color-brand: #57bd84;
	--font-fam: 'Lato', sans-serif;
	--height: 5rem;
	--btn-width: 6rem;
	--bez: cubic-bezier(0, 0, 0.43, 1.49);
  }

 
  

  form {
	position: center;
	width: 30rem;
	background: var(--color-brand);
	border-radius: var(--rad);
  }
  input, button {
	height: var(--height);
	font-family: var(--font-fam);
	border: 0;
	color: var(--color-dark);
	font-size: 1.8rem;
  }
  input[type="search"] {
	outline: 0; 
	width: 100%;
	background: var(--color-light);
	padding: 0 1.6rem;
	border-radius: var(--rad);
	appearance: none; 
	transition: all var(--dur) var(--bez);
	transition-property: width, border-radius;
	z-index: 1;
	position: center;
  }
  button {
	display: none; 
	position: absolute;
	top: 0;
	right: 0;
	width: var(--btn-width);
	font-weight: bold;
	background: var(--color-brand);
	border-radius: 0 var(--rad) var(--rad) 0;
  }
  input:not(:placeholder-shown) {
	border-radius: var(--rad) 0 0 var(--rad);
	width: calc(100% - var(--btn-width));

  }
  label {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
  }


  .tilesWrap {
	padding: 15%;
	margin: 150px auto;
	list-style: none;
	text-align: center;
	background-color: #333;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}
.tilesWrap li button {
	background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
.tilesWrap li button:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	
}
.tilesWrap li:hover button {
	transform: translateY(5px);
	opacity: 1;
}
.tilesWrap li button:hover {
	color: #262a2b;
}
.tilesWrap li button:hover:before {
	left: 0;
	opacity: 1;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:nth-child(1):before {
	background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.tilesWrap li:nth-child(2):before {
	background: #f2709c;
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(3):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(4):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
}
.container{

		display: flex;
		justify-content: center;
		align-items: center;
		background-color:  #262a2b;
		padding: 20px;
		color: white;
		background-position: center - center;
		height: 10500px;
		width: 100%;
	  
}